@{
    ViewData["Title"] = "Главная";
}

[<a asp-controller="Account" asp-action="Donate">Донат</a>]
@if (User.Identity.IsAuthenticated)
{
    <text>
        <a asp-controller="Account" asp-action="Logout">Выйти</a>
    </text>
}
else
{
    <text>
        <a asp-controller="Account" asp-action="Login">Войти</a>
    </text>
}